<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">5 Million Dollars Worth Of Game</h1>
    <div class="page-content">
        <p>Information about the book "5 Million Dollars Worth Of Game Free".</p>
    </div>
</div>

<%- include('../partials/footer') %>
