<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">AI Rewired</h1>
    <div class="page-content">
        <p>Information about AI Rewired where you can learn nerdier AI stuff.</p>
    </div>
</div>

<%- include('../partials/footer') %>
