<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">ChatGPT</h1>
    <div class="page-content">
        <p>Information about ChatGPT.</p>
    </div>
</div>

<%- include('../partials/footer') %>
