<%- include('../partials/header') %>

<div class="container">
    <h1>Digital Boss Code</h1>
    <div class="page-content">
        <p>Information about Digital Boss Code where you can learn AI & Digital Marketing.</p>
    </div>
</div>

<%- include('../partials/footer') %>
