<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">Open AI API</h1>
    <div class="page-content">
        <p>Information about Open AI API.</p>
    </div>
</div>

<%- include('../partials/footer') %>
