<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">Opus Clip</h1>
    <div class="page-content">
        <p>Information about Opus Clip.</p>
    </div>
</div>

<%- include('../partials/footer') %>
