<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">Speaking Engagements</h1>
    <div class="page-content">
        <p>Information about booking Arthur for speaking at your next event, or for a podcast guest.</p>
    </div>
</div>

<%- include('../partials/footer') %>
