<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">Stan Store</h1>
    <div class="page-content">
        <p>Information about using Stan Store to sell your own products.</p>
    </div>
</div>

<%- include('../partials/footer') %>
