<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">1-on-1 Strategy Session</h1>
    <div class="page-content">
        <p>Information about booking Arthur for a 45 minute 1-on-1 Strategy Session for $597.</p>
    </div>
</div>

<%- include('../partials/footer') %>
