<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">The 2032 Survival Guide</h1>
    <div class="page-content">
        <p>Information about "The 2032 Survival Guide $37".</p>
    </div>
</div>

<%- include('../partials/footer') %>
