<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-gold">White Labeled AI Plug Library</h1>
    <div class="page-content">
        <p>Information about buying your own branded white labeled version of The AI Plug Library for $3997.</p>
    </div>
</div>

<%- include('../partials/footer') %>
